body {
  background-color: #2c415d;
  color: #fef0e5;
}

img {
  max-width: 100vh;
  max-height: 100vh;
  background-color: #2c415d;
}

div {
  background-color: #2c415d;
}

.container {
  height: 100%;
}