 nav {
     margin-bottom: 10%;
     margin-top: -5vw;
 }

 .navli {
     display: flex;
     justify-content: flex-end;
    
 }
 .nav-link {
     margin: 10px;
     color: #fef0e5;
     

 }

 .tab-content {
     margin-top: 20%;
 }

 .active button {
     background-color: #fef0e5;
 }



 svg {
     margin-right: 5px;
 }