

 .navli {
        margin-top: -10vw;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5vh;
        
 }

 .nav-link {
    width: 80px;
     margin: 2vw;
     color: #fef0e5;
 }

 svg {
     margin-right: 5px;
 }

 /* .start-link{
    padding-left: 8vw;
 } */
