

 .navli {
        margin-top: -13vw;
        display: flex;
        justify-content: flex-end;
        width: 60vw;
 }

 .nav-link {
    width: 80px;
     margin: 10px;
     color: #fef0e5;
 }

 svg {
     margin-right: 5px;
 }