<div>
    <div class="row">
        <form action="/admin/login" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" id="inputUser" placeholder="Usuario" name="usuario">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="password" id="password" placeholder="Contraseña" name="password">
                </div>
            </div>
            <button type="submit">Ingresar</button>
        </form>
        {{#if error}}
        <p>usuario y o contraseña incorrectos</p>
        {{/if}}
    </div>
</div>