<div class="login">
        <form action="/admin/login" method="post">
        
            <!-- Name input -->
            <div class="form-group mb-4">
                <input type="text" id="inputUser" placeholder="Usuario" name="usuario" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-group mb-4">
                <input type="password" id="password" placeholder="Contraseña" name="password" class="form-control" />
            </div>
            {{#if error}}
            <p>Usuario y o Contraseña incorrectos</p>
            {{/if}}

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" >Ingresar</button>

            {{!-- <!-- Register buttons -->
            <div class="text-center">
                <p>Nuevo usuario? <a href="#!">Registrate</a></p>
            </div> --}}
        </form>
</div>